body{
    background-color: #343a34;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stopWatch{
    color: #ffc104;
    font-size: 200px;
    font-weight: bold;
}

button {
    margin: 10px;
}